body{
    text-align: center;
    background:darksalmon
}

.container{
    height:500px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    border-radius: 30px;
}

.container{
    box-sizing: content-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 5px;
}
.flag_entered{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}

.Show{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
.Search{
    background-color: rgb(144, 225, 243);
    color: black;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 3px;
    margin-top: 8.5px;
}
